name: All Languages
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: peler1nl1kelt0s
          base: ""
          plugin_languages: yes
          plugin_languages_ignored: html, css, jupyter notebook
          plugin_languages_limit: 20
          plugin_languages_threshold: 0%
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_indepth: yes
