name: 3D Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: peler1nl1kelt0s
          template: classic
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          base: header, activity, repositories
          config_timezone: Europe/Istanbul
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
